[Unit]
Description=logging for lyophilizer
After=multi-user.target

[Service]
Type=exec
WorkingDirectory=/home/xxxx/Documents/labconco_log
ExecStart=/home/xxxx/.venv/labconco/bin/python /home/xxxx/Documents/labconco_log/labconco_log.py
Restart=always
Restartsec=3s
User=xxxx
Group=xxxx

[Install]
WantedBy=multi-user.target
